@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Members</h2>
    <div style="margin: 10px 0px;">
        <button class="btn btn-primary" onclick="location.href='Customer/New'">New Member</button>
    </div>
    @if (!Model.Any())
    {
        <p>There are no members yet.</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Membership Type</th>
                </tr>
            </thead>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                </tr>
            }
        </table>
    }
</div>